body {
	background:lightblue url('../img/cloud.png') no-repeat center fixed ;
	whidth:100%;
	font-size: 50px;
}
ul#nav{
	list-style-type:none;
}
ul#nav li {
	/*display: inline;*/
	background: url('../img/cloud400.png') no-repeat;
	height:200px;
	width:400px;
	padding-top:100px;
	text-align:center;
	display: inline-block;
}
#locale {
	position:absolute;
	top:0;
	right:0;
	z-index:10;
}
#locale form {
	display: inline-block;
}
/*tag*/
a {
	color:black;
}
.beta {
	color:red;
	text-decoration: line-through;
	background:yellow;
}
/*log rules */
#log {
	background:white;
	color:black;
	border: 2px solid red;
}
.priority7 {
	background:white;
}
/*info*/
.priority6 {
	background:blue;
}
/*notice*/
.priority5 {
	background:yellow;
}
/*warn*/
.priority4 {
	background:yellow;
}
.priority3 {
	background:red;
}
.priority2 {
	background:red;
}
.priority1 {
	background:red;
}
/*button*/

.button{
	width:400px;
	height:250px;	
}
button.button{
	background:url('../img/cloud400.png') no-repeat;
	text-align:center;
	cursor:pointer;
	border:0;
}
.cloud200 {
	background:url('../img/cloud200.png') no-repeat;
}
.cloud100 {
	background:url('../img/cloud100.png') no-repeat;
}
.cloud500 {
	background:url('../img/cloud.png') no-repeat;
}
#scroll {
	background:url('../img/cloud200.png') no-repeat;
}
#frame {
	
}

/*upload*/

#upload{
	margin:30px 200px; padding:15px;
	font-weight:bold; font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background:#f2f2f2;
	color:#3366cc;
	border:1px solid #ccc;
	width:150px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}
.darkbg{
	background:#ddd !important;
}
#status{
	font-family:Arial; padding:5px;
}
#framebox {
	margin-left:50px;
}
ul.files{ 
	list-style:none; 
	padding:0 0 50px 0; 
	margin:0;
	display:inline-block;
	width:250px;
	min-height:100px;
	background: #DEE;
	vertical-align:top;
}
ul.files li{ padding:10px; margin-bottom:2px; width:200px; margin-right:10px;}
ul.files li img{ max-width:150px; max-height:150px; }
.success{ background:#99f099; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }
.listtitle {font-weight: bolder;}
.form{
	margin:0 50px;
	background: #DEE;
	display:inline-block;
	padding:10px;
}
#trash{
	background: url('../img/trash.png') no-repeat;
	background-color:transparent;
	position: fixed;
	right:50px;
	bottom:50px;
	height:180px;
	width: 150px;
	max-height: 180px;
	padding:0;
}
.dim th {
	text-align:left;
}