body,html {
	background: lightblue;
	height:100%;
}
div#header{
	background:lightblue url('../img/title.png') no-repeat center;
	width:800px;
	height: 100px;
	margin: 0 auto;
}
div.container {
	background:lightblue url('../img/cloud.png') no-repeat top right;
	margin: 0 auto;
	width:1200px;
	min-height:100%;
}
ul#nav{
	list-style-type:none;
}
ul#nav li {
	/*display: inline;*/
	background: url('../img/cloud100.png') no-repeat;
	height:50px;
	width:100px;
	padding-top:30px;
	text-align:center;
	display: inline-block;
}
#locale {
	position:absolute;
	top:0;
	right:0;
}
#locale form {
	display: inline-block;
}
a {
	color:black;
}

/*log rules */
#log {
	background:white;
	color:black;
	border: 2px solid red;
}
.priority7 {
	background:white;
}
/*info*/
.priority6 {
	background:blue;
}
/*notice*/
.priority5 {
	background:yellow;
}
/*warn*/
.priority4 {
	background:yellow;
}
.priority3 {
	background:red;
}
.priority2 {
	background:red;
}
.priority1 {
	background:red;
}
/*button*/

.button{
	width:200px;
	height:150px;	
}
#scroll {
	background:url('../img/cloud200.png') no-repeat;
}
#frame {
	background:url('../img/cloud200.png') no-repeat;
}

/*upload*/

#upload{
	margin:30px 200px; padding:15px;
	font-weight:bold; font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background:#f2f2f2;
	color:#3366cc;
	border:1px solid #ccc;
	width:150px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}
.darkbg{
	background:#ddd !important;
}
#status{
	font-family:Arial; padding:5px;
}
#framebox {
	margin-left:50px;
}
ul.files{ 
	list-style:none; 
	padding:0 0 50px 0; 
	margin:0;
	float:left;
	width:250px;
	min-height:100px;
	background: #DEE;
}
ul.files li{ padding:10px; margin-bottom:2px; width:200px; margin-right:10px;}
ul.files li img{ max-width:150px; max-height:150px; }
.success{ background:#99f099; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }
.listtitle {font-weight: bolder;}
.form{
	margin:0 50px;
	background: #DEE;
	float:left;
	padding:10px;
}